<!doctype html>
<html lang="en" ng-app="DrWow">
  <head>
    <meta charset="utf-8">
    <title>DrWow</title>
    <script src="http://static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/opentok-angular/opentok-angular.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/db.js"></script>
  </head>

  <body class="container">
    <!-- <script>
    var apiKey = "45396692"
    var sessionId = "2_MX40NTM5NjY5Mn5-MTQ0NjU1NTY3OTEzNn5qSVFwWXNxMXRGcndnNUp3YmdpeDlNODZ-UH4"
    var token = "T1==cGF3ydG5lcl9pZD00NTM5NjY5MiZzaWc9ZTIxZWUwYTg5NTYzYTBhYjJlOWRlNjQzMDFhYWM0YjYyMzk0OThmNzpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0ME5UTTVOalk1TW41LU1UUTBOalUxTlRZM09URXpObjVxU1ZGd1dYTnhNWFJHY25kbk5VcDNZbWRwZURsTk9EWi1VSDQmY3JlYXRlX3RpbWU9MTQ0NjU1NTcwMiZub25jZT0wLjU4MDEyNjk0NjgwNjYyNDYmZXhwaXJlX3RpbWU9MTQ0NjU1OTI3NCZjb25uZWN0aW9uX2RhdGE9"

    var session = OT.initSession(apiKey, sessionId);
    session.connect( token, function(err) {
      if(err){
        alert("there is an error!");
      }else{
        session.publish();
      }
    });
    session.on("streamCreated", function(event){
      session.subscribe( event.stream );
    });
    </script> -->
    <h2>Hello </h2>

    <div ng-controller="DrCtrl as dr">
      <button class="button button-full button-dark" ng-click="dr.createSession()">Create Call</button>
      <button class="button button-full button-dark" ng-click="dr.joinSession()">Join Call</button>
    </div>



    <div ng-controller="apiCtrl as api">
     <button class="button button-full button-dark" ng-click="api.getUsers()">Get Users</button>
     <hr>
     <form novalidate class="simple-form">
       <input type="text" ng-model="nameInput" placeholder="enter a name"/>
       <input type="button" ng-click="api.postUser(nameInput)" value="Post User" />
     </form>
    </div>
  </body>
</html>
