extends layout

block content
  .container
    h1 Register Page
    p.lead Say something worthwhile here.
    br
    h3 Who are you?
    form(action='/register0')
      input(type='submit', value='Doctor')
    form(action='/register1')
      input(type='submit', value='Patient')

      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
