extends layout

block content
  .container
    div(ng-controller='EmailCtrl')
      h1
        | Prescription Form
        .content
        form
          fieldset
            p
              label#name(for='name') Name:
              br
              input#name(name='name1', type='text', value='', ng-model="patname")
            p
              label(for='email') Email:
              br
              input#email(name='email', type='text', value='', ng-model="email")
            p
              label(for='message') Message:
              br
              textarea#message(name='message', cols='40', rows='10', ng-model="message")
            p
              label(for='idnumber') IDNumber:
              br
              input#email(name='IDNumber', type='text', value='', ng-model="idnum")

            p
              input#submit(name='submit', type='submit', value='send' ng-click="submitEmail();")
