extends layout

block content
  if(!params.user)
    .row
        .large-3.columns
          h1
            img(src='img/DrWow.jpg')
        .large-9.columns
            ul.button-group.right
              li
                a.button.small.success(href="/login") Login
              li
                a.button.small.success(href="/register") Register
  if(params.user)
    .row
        .large-3.columns
          h1
            img(src='img/DrWow.jpg')
        .large-9.columns
            ul.button-group.right
              li
                a.button.small.success(href="/logout") Logout
        .large-12.columns
            hr

    .row
      if(params.user.role === "doctor")
        .large-6.columns
          #publisherContainerID
        .large-6.columns
          #layoutContainer
        .large-12.columns
          div(ng-controller='DrCtrl as dr')
            button.small.secondary(ng-click='dr.createSession()', ng-hide='') Create Call
            button.small.secondary(ng-click='dr.forceDisconnect()') Force Disconnect
          if(params.patients_array.length === 0)
            p No patients online
          else
            p Your patient is #{params.patients_array[0].username}

            form(role='form', action="/consultations", method="post", style='max-width: 300px;')
              .form-group
                  input.form-control(type='text', name="comments", placeholder='Enter Comments', id='comments')
              .form-group
                input.form-control(type='text', name="prescription", placeholder='Prescription', id='prescription')
              .form-group
                input.form-control(type='date', name="date", id='date')
              .form-group
                  input.form-control(type='hidden', readonly="readonly", name="doctorID", value='#{params.user._id}', id='role')
              .form-group
                  input.form-control(type='hidden', readonly="readonly", name="patientID", value='#{params.patients_array[0]._id}', id='role')
              button.small.secondary(type='submit', id='submit') Submit

      if(params.user.role === "patient")
        .large-12.columns
          if(params.doctors_array.length === 0)
            p No doctors online
          else
            p Your doctor is #{params.doctors_array[0].username}
            #publisherContainer
            div(ng-controller='DrCtrl as dr')
              button.small.secondary(ng-click='dr.joinSession()') Join Call


  footer.row
    .large-12.columns
      hr
      .row
        .large-6.columns
          p DrWow
