extends layout

block content
  if (!params.user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (params.user)
    p You are currently logged in as #{params.user.username}
    if(params.user.role === "doctor")
      p #{params.doctors_array}

    a(href="/logout") Logout
