extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    h1 You are currently logged in as #{user.username}
    p You are currently logged in as #{user.role}
    a(href="/logout") Logout
    if(user.role === "patient")

      body.container
        h2 Welcome
        #layoutContainer
          #publisherContainer
        div(ng-controller='DrCtrl as dr')
          button.button.button-full.button-dark(ng-click='dr.joinSession()') Join Call

    if(user.role === "doctor")

      body.container
        h2 Welcome
        #layoutContainer
          #publisherContainer
        div(ng-controller='DrCtrl as dr')
          button.button.button-full.button-dark(ng-click='dr.createSession()', ng-hide='') Create Call
          button.button.button-full.button-dark(ng-click='dr.forceDisconnect()') Force Disconnect
