extends layout

block content
  if(!params.user)
    .row
        .large-3.columns
          h1
            img(src='img/DrWow.jpg')
        .large-9.columns
            ul.button-group.right
              li
                a.button.small.success(href="/login") Login
              li
                a.button.small.success(href="/register") Register
  if(params.user)
    .row
        .large-3.columns
          h1
            img(src='img/DrWow.jpg')
        .large-9.columns
            ul.button-group.right
              li
                a.button.small.success(href="/logout") Logout
        .large-12.columns
            hr

    .row
      h2 Welcome back #{params.user.username}
      if(params.user.role === "doctor")
        .large-12.columns



      if(params.user.role === "patient")
        .large-12.columns


  footer.row
    .large-12.columns
      hr
      .row
        .large-6.columns
          p DrWow
