extends layout

block content
  .row
      .large-9.columns
        h1
          a(href="/")
            img(src='img/DrWow.jpg')
      .large-9.columns

  .row
      .large-12.columns
        h1 Login
        br
        form(role='form', action="/login",method="post", style='max-width: 300px;')
          .form-group
              input.form-control(type='text', name="username", placeholder='Enter Username', id='username')
          .form-group
            input.form-control(type='password', name="password", placeholder='Password', id='password')
          button.small.secondary(type='submit', id='submit') Submit
          &nbsp;
          a(href='/')
            button.small.secondary(type="button") Cancel

  footer.row
    .large-12.columns
      hr

      .row
        .large-6.columns
          p &copy; Copyright 2015 DrWow

        .large-6.columns
          ul.inline-list.right
            li
              a(href='#') Team

            li
              a(href='#') Careers

            li
              a(href='#') T&Cs

            li
              a(href='#') Privacy Policy

            li
              a(href='#') FAQ
