extends layout

block content
  if (!user)
    a(href="/patient/login") Login
    br
    a(href="/patient/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/patient/logout") Logout
