extends layout

block content
  p  patient
  p  'hello'
  if (!patient)
    a(href="/patient/login") Login
    br
    a(href="/patient/register") Register
  if (patient)
    p You are currently logged in as #{patient.username}
    a(href="/patient/logout") Logout

    body.container
      h2 Welcome
      #layoutContainer
        #publisherContainer
      div(ng-controller='DrCtrl as dr')
        button.button.button-full.button-dark(ng-click='dr.joinSession()') Join Call
        button.button.button-full.button-dark(ng-click='dr.disconnect()') Disconnect Call
